*{
    margin:0%;
    box-sizing: border-box;
    padding: 0%;
}
nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding:1.8rem;
    background-color:#304672;
    color:white;
    position: sticky;
    top:0;
    width: 100vw;
}
nav div.leftBox{
    text-transform: uppercase;
    font-size: 1.7rem;
}
.rightBox select{
border-radius: 3rem;
border: 0rem;
background-color: #304672;
color: white;
font-size: 1.3rem;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(105, 187, 238);
    transition:ease-in 1s;
    transition: ease-out 2s;
}
div.rightBox{
    display: flex;
    gap:1.5rem;
    font-size: 1.5rem;
}
.rightBox button{
    border-radius: 3rem;
    border-color: rgb(105, 187, 238);
    background-color: #304672;
    border-width: 1px ;
    font-size: 1.2rem;
    padding: 5px;
}
.rightBox button:hover{
    scale: 1.05;
    transition: 1s;
    color: #304672;
    background-color: white;
}


/* section 1 */
section.sec1{
    z-index: -1;
    background-color: #304672;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
section.sec1 div.up
{
    color:white;
    font-size: 2rem;
    padding:8rem 8rem 2rem 8rem;
    text-transform: uppercase;
}

section.sec1 div.down{
    color:white;
    padding:3rem 8rem 8rem 8rem ;
}
div.down button.get-started{
    border-radius:3rem;
    background-color: rgb(105, 187, 238);
    padding: 0.7rem;
    color: white;
    margin: 0.6rem;
    font-size: 1.5rem;
}
div.down button.get-started:hover{
    scale: 1.1;
    transition: 1s;
    background-color: white;
    color: #304672;
}

div.rightbox-sec1 div.down label{
     font-size: 1.5rem;
}
section.sec1 img{
    height: 50vh;
    width:45vw;
    padding:3rem;
    margin: 2rem;
    animation: upDown infinite linear alternate 2s;
}

@keyframes upDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(1rem);
    }
}

/* section about-us */
section.about-us{
    z-index: -1;
    background-color:white;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    height: 70vh;
}
section.about-us h2{
    color: #304672;
    text-transform: uppercase;
    text-decoration: rgb(11, 11, 151) underline;
    position: absolute;
    top:2rem;
    font-size: 3rem;
    left:45%
    

}
body img{
    width: 100vw;
    height:15vh;
    box-sizing: border-box;
}

section.about-us div{
    position: relative;
    display: flex;
}
.leftArt{
    position: relative;
    top:30vh;
    color:rgb(5, 46, 71) ;
}
.rightArt{
    position: relative;
    top:30vh;
    color: rgb(5, 46, 71);
}
.yes{
    width: 100vw;
    display: flex;
}
section.about-us div article
{
    text-align: center;
    font-size: 1.5rem;
    padding: 4rem;
} 

.rightArt button {
    background-color: #304672;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rightArt button:hover{
    background-color: rgb(105, 187, 238);
    color: white;
}
.about-us2{
    background-color: #DADBE0;
}

.yes p{
    padding:15rem;
    font-size: 1.5rem;
}

.yes img{
    height: 50vh;
    width: 40vw;
}

/* services */
#services{
    height: 40rem;
    background: none;
    background-color:white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 5rem;
}
#services>h1{
    align-self:center;
    color: darkblue;
    font-size: 4rem;
    font-weight: bolder;
}
#services>p{
    color: gray;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}
#services .services-box-container{
    display: flex;
    gap: 2rem;
}
.s-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
    background-color: whitesmoke;
    padding: 3rem;
    overflow: auto;
}
#services .services-box-container .s-box i{
    font-size: 3rem;
}

/* Teams */

.teams {
    background-color: #DADBE0;
    padding: 40px;
    text-align: center;
}

.teams h2 {
    color: #304672;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.teams p {
    color: #666;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.up_teams_,
.down_teams_ {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.teams .box {
    width: 48%;
    height: 30vh;
    background-color: white;
    margin-bottom: 20px;
}


/* footer */
footer{
    background-color: #304672;
    font-size: 1.3rem;
    color: whitesmoke;
    text-align: end;
    padding: 1.5rem;
}